.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 555;
    background-color: #fff;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16));

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.logo {
    &__title {
        font: 400 3rem/1.5 $fsecondary;
        //font-style: italic;
    }
}

.nav {
    display: flex;

    &__item {
        padding: 10px 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $yellow-color;
        }

        &:first-child::before {
            display: none;
        }
    }

    &__link {
        color: $secondary-color;
        font: 400 1.2rem/1.5 $fmain;
        position: relative;

        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $secondary-color;
            ;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover:after {
            width: 100%;
            left: 0;
        }

        &--active {
            font-weight: 700;
            color: $main-color;

            &:after {
                background: $main-color;
            }

            &::before {
                display: none;
            }
        }
    }
}

.btn-holder {
    a {
        min-width: 150px;
        max-width: 170px;
        width: 100%;
        height: 64px;

    }
}

.sandwich-btn {
    display: none;
    position: absolute;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 5;

    span {
        display: block;
        height: 2px;
        background: #5C5C5C;
        transition: background-color .1s;

        &:after,
        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #5C5C5C;
            transition: .2s all;
        }

        &:after {
            top: 0;
        }

        &:before {
            bottom: 0;
        }
    }

    &.active span {
        background-color: transparent;

        &:after,
        &:before {
            top: 6px;
            background-color: #5C5C5C;
            ;
        }

        &:after {
            transform: rotate(45deg);
        }

        &:before {
            transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: 1024px) {

    .logo {
        &__img {
            display: none;
        }

        &__title {
            font: 800 1.5rem/1.5 $fmain_b;
            color: #5C5C5C;
            margin-left: 50px;
        }
    }

    .nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -100%;
        top: 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: .4s;

        &.active {
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            opacity: 1;
            visibility: visible;
            z-index: 1;
            align-items: center;
            justify-content: center;
        }
    }

    .sandwich-btn {
        display: block;
        position: absolute;
    }

    .btn-holder {
        a {
            min-width: 128px;
            max-width: 128px;
            height: 40px;
            border-radius: 8px;
            font-size: 1.125rem;
        }
    }

}