$fmain:            'Nunito Sans', sans-serif;
$fmain_b:          'Bodoni Moda', serif;
$fsecondary:       'Bodoni Moda', serif;


$main-color:      #2D3436;
$secondary-color: #6C5CE7;
$yellow-color:    #FDCB6E;
$light-grey:      #ADADAD;
